<div class="card">
  <p-table
    *ngIf="!isLoadingData; else loading"
    [value]="purchases"
    [tableStyle]="{ 'min-width': '50rem', 'min-height': '400px'}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Data de Venda</th>
        <th>Horário</th>
        <th>Descrição do produto</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Observação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-purchase>
      <tr>
        <td>{{ purchase.created_at | date : "dd/MM/yyyy" }}</td>
        <td>{{ purchase.created_at | date : "hh:mm:ss a" }}</td>
        <td>{{ purchase.product.description }}</td>
        <td>{{ purchase.client.name }}</td>
        <td>{{ purchase.seller.name }}</td>
        <td>{{ purchase.observation || "—" }}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #loading>
    <div class="flex w-full align-items-center  justify-content-center" [style]="{ height: '400px' }">
        <p-progressSpinner ariaLabel="loading" />
    </div>
  </ng-template>

    <div *ngIf="!isLoadingData && !purchases.length" class="flex w-full align-items-center  justify-content-center" [style]="{ height: '400px' }">
        Não registros.
    </div>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalPurchases"
  />
</div>
